* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.type {
  display: block;
  width: 70px;
  height: 25px;
  text-align: center;
  border-radius: 5px;
  color: white;
}

.grass {
  background-color: green
}

.fire {
  background-color: orangered
}

.water {
  background-color: cyan;
  color: black;
}

.bug {
  background-color: greenyellow;
  color: black; 
}

.flying {
  background-color: rgb(61, 104, 129)
}

.poison {
  background-color: purple
}